.cont h1{
    font-size: 45px;
}

.cont p{
    font-size: 20px;
}

.cont {
  margin-top: 50px;
  height: 412px;
  background: rgba(1, 9, 28, 0.65);
  border-radius: 10px;
  color: #fff;
  filter: drop-shadow(0px, 4px, 4px, rgba(0,0,0.25,0.25));
}

.cont img {
    margin-top: 20px;
    transition: transform 0.8s;
}

.cont img:hover {
  cursor: grab;
  transform: scale(1.2);
}
